---
layout: page
title: Categories
permalink: /categories/
---


<div id="archives">
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <h2 class="category-head">{{ category_name }} ({{
      site.categories[category_name].size() }})</h2>
    <p></p>
    {%for post in site.categories[category_name] %}
    <article class="archive-item">
      <p class="category-list"><a class="item__header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title
        }}</a></p>
    </article>
    {%endfor %}
    <p></p>
  </div>
  {%endfor %}
</div>
