/* start custom scss snippet */


@font-face {
  font-family: "MiSans";
  src: url("../assets/fonts/MiSans-Regular.ttf");
}


body {
  font-family: MiSans, sans-serif;
}
/* end custom scss snippet */
