/* start custom scss snippet */


@font-face {
  font-family: "MiSans";
  src: url("../assets/fonts/MiSans-Light.ttf");
}


body {
  font-family: MiSans, sans-serif;
}

p {
  font-size: 18px;
}

code {
  font-size: 18px;
}
/* end custom scss snippet */
